<a href="https://colab.research.google.com/github/fallstonray/fallstonray/blob/main/week_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

response = requests.get('https://uselessfacts.jsph.pl/random.json?language=en')

print(response.text)

{"id":"a1b1a66352027b974149846c2c2ea2e0","text":"The word Pennsylvania is misspelled on the Liberty Bell.","source":"djtech.net","source_url":"http://www.djtech.net/humor/useless_facts.htm","language":"en","permalink":"https://uselessfacts.jsph.pl/api/v2/facts/a1b1a66352027b974149846c2c2ea2e0"}

# Data Structures
The important ones are **lists**, **dictionaries, and sets.**

## List Slicing  
first number - starting position (inclusive).
second number - stopping postion (exclusive).
third number - step.    
example -  data[1:4:2].

In [ ]:
# Data Structures

data = ['Ray','John','Billy','Gene','Paul']
#print(data)
#print(data[1]) this prints John
# data.append('Ralph')

data[1:4] #up to 4 but not including 4

['John', 'Billy', 'Gene']

# Dictionaries and Sets

In [ ]:
data = {'Ray','John','Billy','Gene','Paul'}

data_dictionary = {
    'Ray' : 5,
    'John' : 10,
    'Billy' : 11,
    'Gene' : 20,
    'Paul' : 4

}

print(data) #print order seems random? but not alpha order as I tested this
print(data_dictionary)
print(data_dictionary.get("Billy"))

{'Billy', 'Gene', 'Paul', 'John', 'Zeebra', 'Ray'}
{'Ray': 5, 'John': 10, 'Billy': 11, 'Gene': 20, 'Paul': 4}
11

# Control flow - Loops and Conditionals

Iteration - One time through the loop.

In [29]:
data = ['a','b','c','d','e']

for i in range(10):
  print(i, end=" ")

for i in data:
  print(i)

for i, letter in enumerate(data):
  print(i, letter)

0 1 2 3 4 5 6 7 8 9 a
b
c
d
e
0 a
1 b
2 c
3 d
4 e

In [8]:
data = ['a','b','c','d','e']

i = 0

while i < len(data):
  print(data[i], end=" ")
  i += 1
  print(i)

while True:
  x = input()
  if x == "stop":
    break

a 1
b 2
c 3
d 4
e 5
asd
asd
asd
stop

In [12]:
data_dictionary = {
    'Ray' : 5,
    'John' : 10,
    'Billy' : 11,
    'Gene' : 20,
    'Paul' : 4

}

for key, value in data_dictionary.items():
  if value == 11:
    print('we found 11')
    break
  print(key, value)

print("")

for key, value in data_dictionary.items():
  print(key, value)

Ray 5
John 10
we found 11

Ray 5
John 10
Billy 11
Gene 20
Paul 4

# Control Flow
**Guessing Game**

 Generate a random number -- random module

 do while - Python doesn't have this built in.  
 do somthing once - possibly repeat it.  
 Ask us for a number. If we get it wrong, ask again.  

 logic for right / wrong: guesses == correct value.

In [28]:
from random import randint
# or
# import random
# low = 0
# high = 100
correct = randint(0, 10)
# print(f'Guess a number between {low} and {high}.')


#print(correct)

while True:
  # do somthing
  guess = int(input())  #accepting a string input as an interger, aka Typecasting

  # check to see if we need should do it again
  if guess == correct:
    print('You Win!')
    break

  if guess < correct:
    print('Guess higher')

  elif guess > correct:
    print("Guess lower")
  else:
    print('You Win!')
    break

8
5
Guess higher
45
Guess lower
20
Guess lower
10
Guess lower
3
Guess higher
4
Guess higher
5
Guess higher
6
Guess higher
7
Guess higher
8
You Win!